* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header.settings1 {
    background-color: rgb(32, 20, 83);
    padding: -1px;
    text-align: center;
    height: 15%;
    max-height: 100px;
    min-height: 20px;
    font-size: 12px;
    color: white;
  }

  .button.status {
        border-radius: 50%;
  }



  button.status.statusActive {
    background-color: #4CAF50; /* Green */

  }

  button.status.statusInactive {
    background-color: #a8193d; /* Green */

  }
